.testimonials {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.testimonials h4 {
    grid-column: 1 / -1;
    font-size: 2rem;
    margin-bottom: 5px;
    text-align: center;
    color: darkolivegreen;
}

.testimonial-cards {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
}

.testimonial-card {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-top: 5px;
}

.testimonial-text {
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}

.testimonial-name {
    font-weight: bold;
    color: darkolivegreen;
    text-align: right;
    margin-bottom: 0;
    padding-bottom: 0;
}